## Advanced Python  
This notebook is used in conjuction with workshop 'Storytelling with Data: Python Analysis Workshop' for American University by Deloitte Consulting.

### Stage 1: Prep Workspace

Complete all items where you see brackets: < >

In [0]:
import <module> as pd
import <module> as np
import <module> as mpl
import <module> as sb

In [10]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import seaborn as sb

data_wd = 'C:/Users/dangrant/Desktop/02_Firm_Initiatives/AU/Python_Advanced/data/'

In [11]:
# Dataset Exploratory Function
def run_EDA(dataset):
    ''' 
    run_EDA takes a PANDAS dataframe and performs exploratory data analysis on it,
    in order to determine strengths, weaknesses, and simple relationships between
    the various columns.
    '''
    
    import pandas as pd
    
    df1 = pd.DataFrame({
        'Columns': dataset.columns.tolist(),
        'DataTypes': dataset.dtypes.tolist(),
        'Missing_count': dataset.apply(lambda x: (len(dataset)-x.count()), axis = 0),
        'Missing_percent': dataset.apply(lambda x: round((len(dataset)-x.count())/len(dataset),2), axis = 0),
        'Unique_count': dataset.apply(lambda x: x.nunique(), axis = 0),
        'Unique_percent': dataset.apply(lambda x: round(x.nunique()/len(dataset),2), axis = 0),
        })


    df2 = dataset.describe().set_index(pd.Series(['Count', 'Mean', 'StdDev', 'Min', 'Quart25', 'Med', 'Quart75', 'Max'])).transpose()

    df3 = df1.join(df2, how = 'left')
    
    return(df3)

print(help(run_EDA))

Help on function run_EDA in module __main__:

run_EDA(dataset)
    run_EDA takes a PANDAS dataframe and performs exploratory data analysis on it,
    in order to determine strengths, weaknesses, and simple relationships between
    the various columns.

None

### Stage 2: Ingest Data

As you learned in the Data Ingestion section of the lecture, complete the the necessary script items to ingest and summarize the dataset

In [17]:
# Read data
breaches = pd.read_csv('breaches.csv')

# Summarize data
breaches.describe()

         BreachID  Individuals_Affected         year
count  1055.00000          1.055000e+03  1055.000000
mean    528.00000          3.026202e+04  2011.450237
std     304.69657          2.278598e+05     1.581780
min       1.00000          5.000000e+02  1997.000000
25%     264.50000          1.000000e+03  2010.000000
50%     528.00000          2.300000e+03  2012.000000
75%     791.50000          6.941000e+03  2013.000000
max    1055.00000          4.900000e+06  2014.000000

In [11]:
# Interpret Summary (identify some potential flaws)
    # 3 numeric columns
    # doesn't provide any information for other 

# Use Custom EDA Function
run_EDA(breaches)

,Columns,DataTypes,Missing_count,Missing_percent,Unique_count,Unique_percent,Count,Mean,StdDev,Min,Quart25,Med,Quart75,Max
BreachID,BreachID,int64,0,0.00,1055,1.00,1055.0,528.000000,304.69657,1.0,264.5,528.0,791.5,1055.0
Name_of_Covered_Entity,Name_of_Covered_Entity,object,0,0.00,967,0.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,State,object,0,0.00,52,0.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Business_Associate_Involved,Business_Associate_Involved,object,784,0.74,231,0.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Individuals_Affected,Individuals_Affected,int64,0,0.00,809,0.77,1055.0,30262.018957,227859.82329,500.0,1000.0,2300.0,6941.0,4900000.0
Date_of_Breach,Date_of_Breach,object,0,0.00,799,0.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Type_of_Breach,Type_of_Breach,object,0,0.00,29,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Location_of_Breached_Information,Location_of_Breached_Information,object,0,0.00,41,0.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date_Posted_or_Updated,Date_Posted_or_Updated,object,0,0.00,43,0.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Summary,Summary,object,913,0.87,141,0.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
breach_start,breach_start,object,0,0.00,732,0.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
breach_end,breach_end,object,910,0.86,121,0.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,year,int64,0,0.00,14,0.01,1055.0,2011.450237,1.58178,1997.0,2010.0,2012.0,2013.0,2014.0

### Stage 3: Data Manipulation

Complete the below blank items to clean the dataset of errors

In [0]:
# Tidy data - car.csv

# Standardize column names
    

# Change categorical column to all lowercase for consistency


# Imput values when numerical column contains blanks


# Convert speed from mph to kph

### Stage 4: Data Modelling

We have now developed a hypothesis

In [0]:
# Clustering iris dataset

### Stage 5: Data Visuaization

In [0]:
# Visualizing mtcars dataset - cyl by disp or cyl by wt

### Stage 6: Building the Story

In [5]:
# using pound.csv dataset (weekly exchange rates up through Nov 1989), predict the next 1 month (4 weeks) of exchange rates.
# Compare moving average selections (1-period through 4-period) and seelect best one.
# Build visualizations for export into PPTX presentation.

'C:/Users/dangrant/Desktop/02_Firm_Initiatives/AU/Python_Advanced/data/sales.csv'

The next set of exercises are adapted from the DataCamp course 'Importing & Cleaning Data in R: Case Studies'. Go to www.datacamp.com to learn more.

In [13]:
# Sales

# messy online ticket sales data.

# Importing the data
sales = pd.read_csv(data_wd + 'sales.csv')


# Examining the data
run_EDA(sales)  

# Identifying dates

# Information not worth keeping
    # Remove columns that have missing > 10%

# Separating columns


# Combining columns


# Dealing with warnings

,Columns,DataTypes,Missing_count,Missing_percent,Unique_count,Unique_percent,Count,Mean,StdDev,Min,Quart25,Med,Quart75,Max
event_id,event_id,object,0,0.00,3746,0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
primary_act_id,primary_act_id,object,0,0.00,709,0.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
secondary_act_id,secondary_act_id,object,0,0.00,535,0.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
purch_party_lkup_id,purch_party_lkup_id,object,0,0.00,4978,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
event_name,event_name,object,0,0.00,2512,0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
primary_act_name,primary_act_name,object,0,0.00,710,0.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
secondary_act_name,secondary_act_name,object,3414,0.68,536,0.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
major_cat_name,major_cat_name,object,0,0.00,5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
minor_cat_name,minor_cat_name,object,0,0.00,44,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
la_event_type_cat,la_event_type_cat,object,0,0.00,7,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
event_disp_name,event_disp_name,object,0,0.00,2511,0.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ticket_text,ticket_text,object,0,0.00,3746,0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tickets_purchased_qty,tickets_purchased_qty,int64,0,0.00,8,0.00,5000.0,1.639000,1.113610,1.0,1.0,1.0,2.0,8.00
trans_face_val_amt,trans_face_val_amt,float64,0,0.00,649,0.13,5000.0,77.077446,123.864788,1.0,20.0,30.0,85.0,1520.88
delivery_type_cd,delivery_type_cd,object,0,0.00,7,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
event_date_time,event_date_time,object,0,0.00,3178,0.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
event_dt,event_dt,object,0,0.00,1635,0.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
presale_dt,presale_dt,object,2892,0.58,420,0.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
onsale_dt,onsale_dt,object,101,0.02,1039,0.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sales_ord_create_dttm,sales_ord_create_dttm,object,4,0.00,3823,0.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sales_ord_tran_dt,sales_ord_tran_dt,object,0,0.00,1849,0.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
print_dt,print_dt,object,424,0.08,1866,0.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
timezn_nm,timezn_nm,object,0,0.00,4,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
venue_city,venue_city,object,0,0.00,199,0.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
venue_state,venue_state,object,0,0.00,48,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
venue_postal_cd_sgmt_1,venue_postal_cd_sgmt_1,object,0,0.00,312,0.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sales_platform_cd,sales_platform_cd,object,2422,0.48,13,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
print_flg,print_flg,object,0,0.00,2,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
la_valid_tkt_event_flg,la_valid_tkt_event_flg,object,0,0.00,2,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fin_mkt_nm,fin_mkt_nm,object,0,0.00,51,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
web_session_cookie_val,web_session_cookie_val,object,0,0.00,4978,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gndr_cd,gndr_cd,object,4823,0.96,2,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age_yr,age_yr,float64,4832,0.97,34,0.01,168.0,44.369048,16.531067,18.0,30.0,44.0,56.0,94.00
income_amt,income_amt,float64,4846,0.97,9,0.00,154.0,86396.103896,58895.045547,10000.0,45000.0,62500.0,87500.0,200000.00
edu_val,edu_val,object,4861,0.97,3,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edu_1st_indv_val,edu_1st_indv_val,object,4888,0.98,3,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edu_2nd_indv_val,edu_2nd_indv_val,object,4914,0.98,3,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
adults_in_hh_num,adults_in_hh_num,float64,4824,0.96,6,0.00,176.0,2.579545,1.490707,1.0,1.0,2.0,4.0,6.00
married_ind,married_ind,float64,4843,0.97,2,0.00,157.0,0.668790,0.472155,0.0,0.0,1.0,1.0,1.00
child_present_ind,child_present_ind,float64,4870,0.97,2,0.00,130.0,0.561538,0.498118,0.0,0.0,1.0,1.0,1.00
home_owner_ind,home_owner_ind,float64,4862,0.97,2,0.00,138.0,0.942029,0.234540,0.0,1.0,1.0,1.0,1.00
occpn_val,occpn_val,object,4921,0.98,10,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
occpn_1st_val,occpn_1st_val,object,4923,0.98,10,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
occpn_2nd_val,occpn_2nd_val,object,4937,0.99,9,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dist_to_ven,dist_to_ven,float64,4677,0.94,136,0.03,323.0,158.188854,395.678376,0.0,12.0,26.0,77.5,2548.00

In [23]:
# MBTA

# Boston's public transit system 

# Using readxl
mbna = pd.read_excel(data_wd + 'mbta.xlsx', skiprows = 0, header = 1)

# Examining the data
run_EDA(mbna)

# Removing unnecessary rows and columns

# Observations are stored in columns
    # Reshape data

# Type conversions

# Variables are stored in both rows and columns

# Separating columns

# Do your values seem reasonable?

# Dealing with entry error

,Columns,DataTypes,Missing_count,Missing_percent,Unique_count,Unique_percent,Count,Mean,StdDev,Min,Quart25,Med,Quart75,Max
mode,mode,object,0,0.00,11,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01,2007-01,float64,1,0.09,10,0.91,10.0,233.396700,363.841186,0.020,4.80400,77.4785,308.67200,1166.974
2007-02,2007-02,float64,1,0.09,10,0.91,10.0,238.323700,371.902255,-0.040,4.56275,75.7065,314.07175,1191.639
2007-03,2007-03,float64,0,0.00,11,1.00,11.0,330.292455,454.614554,0.114,9.27850,137.7000,399.22500,1204.725
2007-04,2007-04,float64,1,0.09,10,0.91,10.0,249.420900,389.468803,-0.002,4.75650,76.4720,328.01075,1247.105
2007-05,2007-05,float64,1,0.09,10,0.91,10.0,248.955900,388.964211,0.049,5.02500,76.2395,327.84075,1244.755
2007-06,2007-06,float64,0,0.00,11,1.00,11.0,339.846545,476.080012,0.096,5.70000,143.0000,413.78750,1246.129
2007-07,2007-07,float64,1,0.09,10,0.91,10.0,248.786700,388.522582,-0.037,5.57000,77.8510,328.96075,1243.952
2007-08,2007-08,float64,1,0.09,10,0.91,10.0,244.665000,381.963130,0.004,5.62400,77.7530,325.33600,1223.323
2007-09,2007-09,float64,0,0.00,11,1.00,11.0,352.553727,490.877359,-0.007,5.53900,143.0510,436.08200,1310.764
2007-10,2007-10,float64,1,0.09,10,0.91,10.0,248.884100,387.995245,-0.064,5.31025,80.5820,336.99375,1244.453
2007-11,2007-11,float64,1,0.09,10,0.91,10.0,248.371300,388.358066,-0.077,4.47750,79.3565,310.74375,1241.895
2007-12,2007-12,float64,0,0.00,11,1.00,11.0,321.587636,454.216866,-0.060,4.38500,141.5850,380.59400,1216.890
2008-01,2008-01,float64,1,0.09,10,0.91,10.0,244.614800,382.292192,0.048,4.47525,78.0235,315.54875,1223.050
2008-02,2008-02,float64,1,0.09,10,0.91,10.0,252.802800,395.532659,0.061,4.48525,78.3895,327.00525,1263.983
2008-03,2008-03,float64,0,0.00,11,1.00,11.0,345.603818,483.566839,0.058,5.16950,137.4530,427.60050,1274.031
2008-04,2008-04,float64,1,0.09,10,0.91,10.0,264.435100,413.821057,0.060,4.68875,77.5555,343.90925,1322.146
2008-05,2008-05,float64,1,0.09,10,0.91,10.0,260.322800,407.465909,0.046,4.62900,78.5060,337.51500,1301.591
2008-06,2008-06,float64,0,0.00,11,1.00,11.0,359.666909,504.210832,0.060,5.74150,142.0570,440.65550,1320.728
2008-07,2008-07,float64,1,0.09,10,0.91,10.0,266.027500,415.803613,0.069,6.01900,80.0615,345.73025,1330.103
2008-08,2008-08,float64,1,0.09,10,0.91,10.0,250.383400,391.108368,0.023,5.88700,79.1405,330.62875,1251.905
2008-09,2008-09,float64,0,0.00,11,1.00,11.0,362.099364,506.244342,0.021,5.69050,141.9070,453.43050,1338.015
2008-10,2008-10,float64,1,0.09,10,0.91,10.0,262.439700,411.133033,0.054,5.08650,82.4855,330.99625,1312.172
2008-11,2008-11,float64,1,0.09,10,0.91,10.0,248.871000,389.176837,0.002,4.82900,82.7740,317.08425,1244.354
2008-12,2008-12,float64,0,0.00,11,1.00,11.0,319.882545,454.787660,-0.015,4.68850,140.8100,386.25500,1232.655
2009-01,2009-01,float64,1,0.09,10,0.91,10.0,236.303400,369.907517,-0.034,4.18575,76.8745,307.81400,1181.534
2009-02,2009-02,float64,1,0.09,10,0.91,10.0,247.645700,388.107607,-0.020,4.38000,76.5870,327.49325,1238.239
2009-03,2009-03,float64,0,0.00,11,1.00,11.0,330.142364,463.102505,-0.050,5.00250,142.8930,410.45500,1210.912
2009-04,2009-04,float64,1,0.09,10,0.91,10.0,251.602600,394.290424,-0.048,4.72025,76.8330,329.09300,1258.037
2009-05,2009-05,float64,1,0.09,10,0.91,10.0,245.115800,383.696448,-0.058,4.76250,78.3575,322.30300,1225.608
2009-06,2009-06,float64,0,0.00,11,1.00,11.0,333.194091,468.458537,-0.079,5.84500,142.0060,410.48200,1233.085
2009-07,2009-07,float64,1,0.09,10,0.91,10.0,241.006300,377.199835,-0.094,6.29775,74.5585,312.18475,1205.079
2009-08,2009-08,float64,1,0.09,10,0.91,10.0,239.427200,374.417941,-0.044,6.03300,75.6040,307.44150,1197.158
2009-09,2009-09,float64,0,0.00,11,1.00,11.0,346.686727,483.019855,-0.035,5.69300,139.0870,437.33150,1291.564
2009-10,2009-10,float64,1,0.09,10,0.91,10.0,258.811200,406.821650,-0.014,4.88325,75.1780,347.08575,1294.064
2009-11,2009-11,float64,1,0.09,10,0.91,10.0,243.362700,382.506594,-0.022,4.32325,70.9970,328.91275,1216.824
2009-12,2009-12,float64,0,0.00,11,1.00,11.0,312.962545,445.962493,-0.022,4.78350,126.0660,386.65950,1207.845
2010-01,2010-01,float64,1,0.09,10,0.91,10.0,237.254600,372.683164,0.004,4.03425,71.5875,322.76850,1186.271
2010-02,2010-02,float64,1,0.09,10,0.91,10.0,242.243500,380.677591,-0.022,4.06250,72.2380,324.13750,1211.228
2010-03,2010-03,float64,0,0.00,11,1.00,11.0,332.725455,467.007146,0.012,5.27350,131.2520,428.42000,1225.556
2010-04,2010-04,float64,1,0.09,10,0.91,10.0,253.446000,398.396497,0.007,5.13050,72.3695,340.76975,1267.226
2010-05,2010-05,float64,1,0.09,10,0.91,10.0,248.230900,390.244935,0.013,5.08625,70.7855,339.57950,1241.148
2010-06,2010-06,float64,0,0.00,11,1.00,11.0,335.964000,473.802980,0.008,6.43550,129.1440,426.76900,1244.409
2010-07,2010-07,float64,1,0.09,10,0.91,10.0,241.180200,379.907736,0.001,6.53075,64.9500,319.46225,1205.901
2010-08,2010-08,float64,1,0.09,10,0.91,10.0,235.947400,371.022166,-0.015,6.28075,68.3885,310.39850,1179.745
2010-09,2010-09,float64,0,0.00,11,1.00,11.0,346.523818,484.152441,0.001,5.56750,132.8920,451.36050,1293.117
2010-10,2010-10,float64,1,0.09,10,0.91,10.0,261.255200,412.127109,0.009,5.00625,69.3395,347.83175,1306.271
2010-11,2010-11,float64,1,0.09,10,0.91,10.0,248.748200,391.985522,0.022,4.40200,69.1665,331.43650,1243.730
2010-12,2010-12,float64,0,0.00,11,1.00,11.0,312.917091,447.606316,-0.004,4.46650,121.4220,388.38550,1216.262
2011-01,2011-01,float64,1,0.09,10,0.91,10.0,230.679900,362.995718,-0.028,4.03875,69.7500,300.83100,1153.413
2011-02,2011-02,float64,1,0.09,10,0.91,10.0,244.133400,384.746698,0.008,4.32875,68.5790,314.64700,1220.663
2011-03,2011-03,float64,0,0.00,11,1.00,11.0,345.165545,482.054993,0.050,6.03050,134.3740,448.56450,1286.660
2011-04,2011-04,float64,1,0.09,10,0.91,10.0,262.660200,413.111502,0.036,5.22450,73.3840,345.90450,1313.283
2011-05,2011-05,float64,1,0.09,10,0.91,10.0,260.581800,410.364431,0.050,5.33800,74.2155,345.41075,1302.884
2011-06,2011-06,float64,0,0.00,11,1.00,11.0,353.330727,498.234189,0.054,6.92550,135.5810,452.92250,1302.414
2011-07,2011-07,float64,1,0.09,10,0.91,10.0,257.228100,405.278345,0.067,6.91125,71.7350,328.94125,1286.107
2011-08,2011-08,float64,1,0.09,10,0.91,10.0,248.258800,390.665532,0.052,7.06750,70.8535,320.38575,1241.268
2011-09,2011-09,float64,0,0.00,11,1.00,11.0,362.554545,507.065248,0.043,6.66050,136.9010,469.20400,1348.754
2011-10,2011-10,float64,1,0.09,10,0.91,10.0,269.647600,425.659945,0.032,5.51250,70.5085,358.28400,1348.222

In [ ]:
# Food

food products from around the world.

Importing the data

Examining the data

Inspecting variables

Removing duplicate info

Removing useless info

Finding columns

Replacing missing values

Dealing with messy data

In [ ]:
# Attendance

average school attendance in the US.

Importing the data

Examining the data

Removing unnecessary rows

Removing useless columns

Splitting the data

Replacing the names

Cleaning up extra characters

Some final type conversions